
.step h2 {
    font-size: 58px;
    font-weight: bold;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
  clear: both;
}

.step .columns {
  margin-top: 50px;
}

.step .columns .clipart {
  float: left;
  height: 400px;
  width: 200px;
  margin-right: 50px;
}

p.spaced {
  margin-top: 50px;
}

.red { color: red; }
.green { color: green; }
